
<mat-toolbar class="header">
  <!-- <img src="../assets/images/logo.png/"alt="this image" width= "100px" height= "100px"/> -->
<a mat-button routerLink=""><span>HOME</span></a>
<a mat-button routerLink="/menu"><span>MENU</span></a>
<a mat-button routerLink="/about"><span>ABOUT</span></a>
<a mat-button routerLink="/contactUs"><span>CONTACT</span></a>
<a mat-button routerLink="/login"><span>SIGNUP</span></a>
<a mat-button routerLink="/signup"><span>LOGIN</span></a>
<a mat-button routerLink="/blog"><span>BLOG</span></a>
<!--img src='../assets/images'/-->
</mat-toolbar>
<div class="form-group6">
  <img src="../assets/images/puma.jpg/"alt="this image" width= "100%" height= "100%"/>
</div>
