.header{color: brown}
md-toolbar-row{
    justify-content:center;
    }
    
    .mat-toolbar-row{
    justify-content:center;
    }
    
    .mat-toolbar .mat-toolbar-row{
    justify-content:center;
    }

    .mat-toolbar .mat-toolbar-row{
        background-color: brown;
        }
        