/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body { 
    padding: 0; 
    margin: 0; 
    font-family: t, sans-serif; 
    
  }
  .container {
    margin: 20px;
    display:flex;
}


 
 .row{
  margin-bottom: 2px; padding-right: 15%;
}
input, button, .btn{border-radius: 1px  !important; size: 50px}
input[type='text'].ng-invalid,
input[type='password'].ng-invalid{border-left: 1px solid #700; } 