<!-- <p>
  list-product works!
</p> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<LINK REL="Alternate StyleSheet" HREF="color-24b.css" TYPE="text/css" TITLE="24-bit Color Style" MEDIA="screen, print">
<h3>Listing of product</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Product Owner</th>
      <th scope="col">Product Cost</th>
      <th scope="col">Shipping Cost</th>
      <th scope="col">Shipping Address</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Status</th>
      <th scope="col">Date</th>
      <th scope="col">Delete/Update</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-danger" *ngFor="let entry of productList">
      <td>{{entry.productName}}</td>
      <td>{{entry.productOwner}}</td>
      <td>{{entry.productCost}}</td>
      <td>{{entry.shippingCost}}</td>
      <td>{{entry.shippingAddress}}</td>
      <td>{{entry.phoneNumber}}</td>
      <td>{{entry.status}}</td>
      <td>{{entry.date}}</td>
      <td><span><button type="button" class="btn btn-danger" (click)='delete(entry._id)'>Delete</button></span><span><button type="button" class="btn btn-danger"><a [routerLink]="['/updateproduct',entry._id]"></a>Update</button></span></td>
    </tr>
  </tbody>
</table>
