<!-- <p>
  product-operator works!
</p> -->
<header>
  <mat-toolbar color="warn">
    <a mat-button routerLink="/addproduct"><span class="fa fa-info fa-lg"></span>Add Product</a>
    <a mat-button routerLink="/listProduct"><span class="fa fa-info fa-lg"></span>List Product</a>
  </mat-toolbar>
  </header>
  <h1 style="text-align: center"> E-Product Operations  </h1>
  <h5 style="text-align: center"> You can Add Product and Update its contents </h5>
  <div class="form-group6">
    <img src="../assets/images/puma.jpg/"alt="this image" width= "100%" height= "100%"/>
  </div>
  