<form [formGroup]="updateProductForm" (ngSubmit)="onUpdate()">
  <label>Product Name</label>
  <input type="text" formControlName="newProductName" placeholder="Product Name">
  <label>Product Cost</label>
  <input type="number" formControlName="newProductCost" placeholder="Product Cost">
  </form>
  
