<!-- <p>
  add-product works!
</p> -->
<!-- <div class="justify-content-centre">
  <div class="registration-form">
    <div class="card">
      <div class="card-header heading">
        <h2>Registration Form</h2>
      </div>
      <div class="card-body">
 
 
    <form [formGroup]="productForm" (ngSubmit)="onSelect()">  
          <div class="container-fluid">
            
            <div class="form-group1">
              <input type="text" class="form-control input-lg " id="fname" formControlName="firstName" placeholder="First Name">
            </div>
            <div>
            </div>
         
            <div class="form-group2">
                <input type="text" class="form-control input-lg " id="lname" formControlName="lastName" placeholder="Last Name">
            </div>
              <div class="form-group3">
                  <input type="text" class="form-control input-lg " id="eid" formControlName="emailId" placeholder="EmailId">
                  
              </div>
                <div class="form-group4">
                    <input type="text" class="form-control input-lg " id="pass" formControlName="password" placeholder="password">
              </div>
                 
                  <div class="row final">
                    <div class="col-md-1">
                    <button type="submit" style="margin-left: 50%" id="submitbtn" class="btb btn-primary">submit</button>
                  </div>   
                  </div>
           </div>
        </form>
        </div>
        </div>
        </div> -->
        <header>
          <button routerLink='/listproduct' type="submit">Product List</button>
      </header>
      <body>
          <form [formGroup]="addProductForm" (ngSubmit)="onAdd()">
              <div class="container">            
                  <div class="form-group">
                      <div class="col-md-6">
                          <h5>Product Name</h5>
                          <input formControlName="pname" type="text" placeholder="Product Name">
                          
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col">
                          <h5>Product Owner</h5>
                          <input formControlName="powner" type="text" placeholder="Product Owner">
                      </div>
                    
                  </div>
                  <div class="form-group">
                      <div class="col">
                          <h5>Product cost</h5>
                          <input formControlName="pcost" type="number" placeholder="Product Cost">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col">
                          <h5>Shipping cost</h5>
                          <input formControlName="scost" type="number" placeholder="Shipping Cost">
                      </div>
                   
                  </div>
                  <div class="form-group">
                      <div class="col">
                          <h5>Shipping Address</h5>
                          <textarea rows="2" cols="20" formControlName="add" placeholder="Address"></textarea>
                      </div>

                  </div>
                  <div class="form-group">
                      <div class="col">
                          <h5>Phone Number</h5>
                          <input formControlName="pnum" type="number" placeholder="Product Cost">
                      </div>
                     
                  </div>
                  <div class="form-group">
                      <div class="col">
                          <h5>Status</h5>
                          <input formControlName="stat" type="text" placeholder="Status">
                      </div>
                   
                  </div>
                  <div class="form-group">
                      <div class="col">
                          <h5>Date</h5>
                          <input formControlName="date" type="date" placeholder="Product Cost">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col">
                          <button type="submit" id="submitbtn">Submit</button>
                      </div>
                  </div>
              </div>
          </form>
      </body>
      
      