<!-- <p>
  login works!
</p> -->

<div class="justify-content-centre">
  <div class="registration-form">
    <div class="card">
      <div class="card-header heading">
        <h2>Registration Form</h2>
      </div>
      <div class="card-body">
 
 
    <form [formGroup]="signupForm" (ngSubmit)="onSelect()">  
          <div class="container-fluid">
            
            <div class="form-group1">
              <input type="text" class="form-control input-lg " id="fname" formControlName="firstName" placeholder="First Name">
            </div>
            <!-- <div>
            </div> -->
         
            <div class="form-group2">
                <input type="text" class="form-control input-lg " id="lname" formControlName="lastName" placeholder="Last Name">
            </div>
              <div class="form-group3">
                  <input type="text" class="form-control input-lg " id="eid" formControlName="emailId" placeholder="EmailId">
                  
              </div>
                <div class="form-group4">
                    <input type="text" class="form-control input-lg " id="pass" formControlName="password" placeholder="password">
              </div>
                 
                  <div class="row final">
                    <div class="col-md-1">
                    <button type="submit" style="margin-left: 50%" id="submitbtn" class="btb btn-primary">submit</button>
                  </div>   
                  </div>
           </div>
        </form>
        </div>
        </div>
        </div>
<!-- /////////////////////<form id="form" [formGroup]="loginForm">

  <mat-form-field>
    <input type="text" matInput placeholder="Enter Mobile number / Email" formControlName="username">
<mat-error *ngIf="loginForm.get('username').hasError('forgotPassword')">
    First enter mobile number / email
  </mat-error>
</mat-form-field>


  <mat-form-field>
    <input type="password" matInput placeholder="Enter password" formControlName="password">
<mat-error *ngIf="loginForm.get('password').hasError('required')">
    please enter valid <strong>Password</strong>
  </mat-error>
  </mat-form-field>
<!-- </div> -->


  <!-- <a href (click)="forgotPassword()" onclick="return false;">Forgot Password ?</a>


<div style="text-align: center;padding-top: 10px">
  <button type="submit" mat-raised-button color="primary" >Login</button>
</div>

</form>////////////////////////////////// --> 



<!-- <div>  
  <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm)">  
      <div class="form-container">  
          <div class="row columns">  
   <div>  
    <input type="text" formControlName='fname' name='fname' id='fname' placeholder="Your First name">  
  
    <div *ngIf="signupForm.controls['fname'].touched && !signupForm.controls['fname'].valid">  
        <span *ngIf="signupForm.controls['fname'].hasError('required') ">  
            First name is required  
            </span>  
            <span *ngIf="signupForm.controls['fname'].hasError('minlength') ">  
             Min length is 1  
            </span>  
            <span *ngIf="signupForm.controls['fname'].hasError('maxlength') ">  
            max length is 15  
        </span>  
    </div>  
    </div>  
    <div>  
    <br>  
    <input type="text" formControlName='lname' placeholder="Your Last name">  
  
    <div *ngIf="signupForm.controls['lname'].touched && !signupForm.controls['lname'].valid">  
        <span *ngIf="signupForm.controls['lname'].hasError('required') ">  
            Last name is required  
            </span>  
            <span *ngIf="signupForm.controls['lname'].hasError('minlength') ">  
             Min length is 1  
            </span>  
            <span *ngIf="signupForm.controls['lname'].hasError('maxlength') ">  
            max length is 15  
        </span>  
    </div>  
  </div>  
    <br>  
    <div><input type="text" formControlName='Emailid' placeholder="Your Email id"></div>  
    <div *ngIf="signupForm.controls['Emailid'].touched && !signupForm.controls['Emailid'].valid">  
        <span *ngIf="signupForm.controls['Emailid'].hasError('required') ">  
           Email ID is needed  
             </span>  
            
      <span *ngIf="signupForm.controls['Emailid'].hasError('email') ">  
           Invalid Email ID  
            </span>  
                       
    </div>  
    <br>  
    <div>  
    <input type="Password" formControlName='userpassword' placeholder="Your password">  
  </div>  
  <br>  
  <div>  
<input type="Submit" value="Post Data" [disabled]='!signupForm.valid' >  
  </div>  
  </div>  
  </div>  
  </form>  
</div>   -->