
.form-group1{padding-bottom: 20px;padding-left: 40%; }
.form-group2{padding-bottom: 20px; padding-left: 40%}
.form-group3{padding-bottom: 20px; padding-left: 40%}
.form-group4{padding-bottom: 20px; padding-left: 40%}
.button{padding-left: 40%; background-color: brown}
.container-fluid button{background:rgb(248, 160, 46);border:4px solid rgb(229, 230, 222) ; margin-top: -5; margin-left: 3; padding: 10px 20px; color: aliceblue;}
.card h2{text-align: center}