<!-- <p>
  signup works!
</p> -->
<!-- <h3>Registration</h3>
<hr />
<form [formGroup]='register' (ngSubmit)='save()' novalidate>
    <div class='row'>
      <div class='col-sm-6'>
        <input type='text' formControlName='name'
               class='form-control'
               placeholder='Display Name'>
        
      	<div *ngIf="name.invalid && (name.dirty || isSubmitted)" class="text-danger">
      	  <div *ngIf="name.errors.required">
      		Name is required.
      	  </div>
      	  <div *ngIf="name.errors.minlength">
      		Name must be at least 4 characters long.
      	  </div>
      	  <div *ngIf="name.errors.maxlength">
      		Name must not exceed 15 characters.
      	  </div>
      	</div>
      </div>
    </div>
    
    <div class='row'>
      <div class='col-sm-6'>
        <input type='text' formControlName='email'
               class='form-control'
               placeholder='Email'>
               
        <div *ngIf="email.invalid && (email.dirty || isSubmitted)" class="text-danger">
      		Email is required.
      	</div>
      </div>
    </div>
    
    <div class='row'>
      <div class='col-sm-6'>
        <input type='password' formControlName='password'
               class='form-control'
               placeholder='Password'>
               
        <div *ngIf="password.invalid && (password.dirty || isSubmitted)" class="text-danger">
      		Password is required.
      	</div>
      </div>
    </div>
    
    
    <div class='row'>
      <div class='col-sm-6'>
        <input type='password' formControlName='verify'
               class='form-control'
               placeholder='Verify Password'>
               
        <div *ngIf="verify.invalid && (verify.dirty || isSubmitted == true)" class="text-danger">
      		Verify Password is required.
      	</div>
      </div>
    </div>
    
    <div class='row'>
      <div class='col-sm-6'>
        <button type='submit' class='btn btn-primary'>Save</button>
        <button type='button' class='btn btn-warning' (click)='reset()'>Reset</button>
      </div>
    </div>
</form>

<pre *ngIf='result != null'>
  {{result | json}}
</pre> -->
<div class="justify-content-centre">
  <div class="registration-form">
    <div class="card">
      <div class="card-header heading">
        <h2>Login Form</h2>
      </div>
      <div class="card-body">
 
 
    <form [formGroup]="LoginForm" (ngSubmit)="onSelect()">  
          <div class="container-fluid">
            
              <div class="form-group3">
                  <input type="text" class="form-control input-lg " id="eid" formControlName="emailId" placeholder="EmailId">
              </div>
                <div class="form-group4">
                    <input type="text" class="form-control input-lg " id="pass" formControlName="password" placeholder="password">
              </div>
                 
                  <div class="row final">
                    <div class="col-md-1">
                    <button type="submit" style="margin-left: 50%" id="submitbtn" class="btb btn-primary">submit</button>
                  </div>   
                  </div>
           </div>
        </form>
        </div>
        </div>
        </div>