<!-- <p>
  list works!
</p> -->
 <h1 class="text-center">productlist</h1>
<br>
<table class="table" id="tableList">
  <thead class="thead-dark">
    <tr>
     <th scope="col">product name<th> 
     <th scope="col">consumer name<th> 
     <th scope="col">product cost<th> 
     <th scope="col">rating<th> 
      <th scope="col">scores<th> 
      <th scope="col">DELETE<th> 
    </tr>    
      </thead>
      <tbody>
        <tr *ngFor ="let product of productlisting">
          <td>{{product.productName}}</td>
          <td>{{product.consumerName}}</td>
          <td>{{product.productCost}}</td>
          <td>{{product.rating}}</td>
          <td>{{product.scores}}</td>
          <td> <span><button type="button"><a [routerLink]="['/delete',product._id]">DELETE</a></button></span></td>
        </tr>
      </tbody>
</table>